#qna{
    display: none;
}

.qBox{
    color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    font-size: 22px;
    width: 80%;
}

.answerList{
    background-color: whitesmoke;
    border-radius: 20px;
    display: block;
    width: 80%;
    border: 0px;
    font-size: 16px;
}

.answerList:hover, .answerList:hover{
    background-color: rgb(133, 99, 154);
    color: whitesmoke;
    border: solid 3px whitesmoke;
}

.status{
    text-align: center;
    font-size: 22px;
}
.answerBox{
    text-align: center;
    padding-bottom: 50px;
}
