#result{
    display: none;
    background-color: rgb(210, 190, 190);
    text-align: center;
    border-radius: 20px;
    width: 80%;
}

#shareResult{
    background-color: rgb(210, 190, 190);
    text-align: center;
    border-radius: 20px;
    width: 80%;
}

.resultname{
    font-size: 20px;
}
.resultDesc{
    font-size: 20px;
}
#result sapn{
    color: rgb(227, 215, 215);
    font-size: 20px;
}
